#container {
    width: 80%;
    padding-left: 50px;
    padding-right: 50px;
    display: flex; 
    flex-direction: column;
    margin: 0 auto;
}

body {
    color: rgb(231, 231, 231);
  font-family: 'PT Sans', sans-serif;
  font-weight: normal;
  background-color: black;
}

section{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

header{
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: rgb(20, 15, 20);
    border-radius: 20px;
    margin-top: 50px;
    align-items: center;
    margin-bottom: 50px;
}

header h2{
    margin: 0px !important;
}

main {
    display: flex;
    flex-wrap: wrap;
}   

.projects {
flex: 1;
}

img {
    max-width: 250px;
    margin-right: 50px;
    border-radius: 20px 0 0px 20px;
}


header h1{
    margin: 0px !important;
}

header .name {
    color: white;
    font-weight: bold;
}

header .div{
    align-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header .contacts {
    display: flex;
}

header .contacts a {
    display: flex;
    color:white;
}

header .contacts a:first-child {
    padding-right: 10px;
}

main section {
    width: 50%;
    margin: 0px auto;
}

h1 {
font-size: 3em;
}

H2 {
    text-transform: uppercase;
    letter-spacing: .05em;
}

h3 {
    color: white;
text-transform: uppercase;
font-size: 2em;
margin-bottom: 0;
margin-top: 30px;
}

h4{
font-size: 1.5em;
margin: 0;
padding-top: 30px;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
}

.full-column {
    width: 100%;
}

.half-column {
    /* what should go here? */
    width: 50%;

}

ul {
    margin: 0px 10px;
    padding-left: 20px;
}

.projects ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
}


@media (max-width: 1000px) {
    body {
        margin: 0px 5%;
    }

    main section {
        width: 100%;
    }
}

.resume{ 
    background-color: rgb(20, 15, 20);
    margin-right: 25px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
    flex: 2;
    border-radius: 20px;
}

.projects{
    background-color: rgb(20, 15, 20);
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
    flex: 1;
    border-radius: 20px;
}

/* responsive */ 

@media (max-width: 1000px) { 
    main {
        display: block;
    }   
    .projects{
        background-color: black;
        padding-left: 0px;
        padding-right: 0px;
        flex: 1;
    }
    .resume{ 
        background-color: black;
        padding: 0px;
    }
    #container {
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
    }
    header h1{
        font-size: 4em;
    }
    header p{
        font-size: 2em;
       padding-right: 20px;
    }
    header img{
       display: block;
    }
    .column{
        margin-bottom: 40px;
    }
    h2{
        font-size: 2em;
    }
}